{
	"presets": ["@babel/preset-env"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"@basic": "./src/BasicApi.js",
					"@axios": "./src/axios-config.js",
					"@services": "./src/services/"
				}
			}
		]
	]
}
