{
	"presets": ["@babel/preset-env"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"@axios": "./axios-config.js",
					"@services": "./src/services/"
				}
			}
		]
	]
}
